---
interface Props {
	noPadding?: boolean;
}

const { noPadding = false } = Astro.props;
---

<div
	class:list={[
		"mt-8 mb-12 -mx-8 sm:-mx-12 frame-border flex flex-col items-center justify-center overflow-hidden",
		noPadding ? "p-0" : "p-4",
	]}
>
	<slot />
</div>
