---
import { render } from "astro:content";
import { getBlogPosts } from "../../content.config";

export async function getStaticPaths() {
	const posts = await getBlogPosts();
	return posts.map(post => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<h1>{post.data.title}</h1>
<Content />
