---
import { render } from "astro:content";
import { getBlogPosts } from "../../content.config";
import ContentLayout from "@layouts/ContentLayout.astro";
import Tags from "@content/components/Tags.astro";

export async function getStaticPaths() {
	const posts = await getBlogPosts();
	return posts.map(post => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);
const { title, description, draft, pubDate, related, tags } = post.data;
---

<>
	<ContentLayout title={title} headings={headings} tags={tags}>
		<h1>{title}</h1>
		<div class="mb-6 font-display font-medium text-gray-600">
			Published on {new Date(pubDate).toLocaleDateString("en-sg")}
		</div>
		<Tags data={tags ?? []} />
		<Content />
	</ContentLayout>
</>
