---
import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
	<Container className="mt-12">
		<h2 class="mt-4 text-white text-5xl font-semibold font-body">blog.</h2>
		<h2 class="mt-24 w-full flex flex-col space-y-6 text-white text-4xl">Check back soon...</h2>
	</Container>
</BaseLayout>
