---
import Container from "@components/Container.astro";
import ProjectCard from "@components/ProjectCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getProjects } from "../content.config";

const projects = await getProjects();

const hasProjects = projects.length > 0;
---

<BaseLayout title="Projects">
	<Container className="mt-12">
		<h1 class="mt-4 self-start">projects.</h1>
		{
			hasProjects && (
				<ul class="w-full mt-14 p-2 grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-10">
					{projects.map(({ id, data }, i) => (
						<ProjectCard index={i} project={{ id, ...data }} />
					))}
				</ul>
			)
		}
		{
			!hasProjects && (
				<h2 class="mt-24 w-full flex flex-col space-y-6 text-white text-4xl">Check back soon...</h2>
			)
		}
	</Container>
</BaseLayout>
