---
import Container from "../components/Container.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="WIP">
	<Container className="h-screen" center>
		<h1 class="text-white text-4xl font-semibold font-body">Work in progress... check back later!</h1>
	</Container>
</BaseLayout>
