---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="WIP">
	<div class="container hero place-items-center">
		<h1 class="text-white text-4xl font-semibold font-body">Work in progress... check back later!</h1>
	</div>
</BaseLayout>
