---
const props = Astro.props;
---

<a
	{...props}
	class="group inline-flex items-baseline text-white hover:text-primary font-medium relative transition-colors has-[code]:[&_span]:hidden"
>
	<slot />
	<span
		aria-hidden="true"
		class="absolute inset-x-0 -bottom-0 h-[1.5px] bg-primary group-hover:opacity-0 transition-opacity pointer-events-none select-none"
	>
	</span>
	{
		props.href.startsWith("https://") && (
			<i
				aria-label="external link"
				class="my-auto ph-bold ph-arrow-up-right text-primary text-base font-semibold group-hover:translate-x-0.5 group-hover:-translate-y-0.5 transition-transform ease-in-out"
			/>
		)
	}
</a>
