---
import Container from "@components/Container.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { getEntries } from "astro:content";
import { getEntry } from "astro:content";
import type { Project } from "src/content.config";

interface Props {
	id: Project["id"];
}

const { id } = Astro.props;

const project = await getEntry("projects", id)!;
const related = await getEntries([project, project, project]);
---

<section class="my-24 mx-8 sm:mx-20 xl:mx-52">
	<h1 class="mb-12">Related Projects</h1>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
		{related.map((p, i) => <ProjectCard index={i} project={{ ...p.data, id: p.id }} />)}
	</div>
</section>
