---
import type { InferEntrySchema } from "astro:content";
import { getEntries } from "astro:content";
import { Image } from "astro:assets";

interface Props {
	data: NonNullable<InferEntrySchema<"projects" | "blog">["tags"]>;
}

const { data } = Astro.props;
const tags = await getEntries(data);
---

<div class="mb-12 flex gap-2 flex-wrap">
	{
		tags
			.map(t => t.data)
			.map(({ id, iconUrl }) => (
				<a
					class="px-2 py-1.5 flex items-center space-x-2 text-sm text-white font-body no-underline bg-slate-900/70 hover:bg-slate-800 hover:-translate-y-0.5 active:translate-y-0 ring-2 ring-slate-800 rounded-xs transition"
					href="/projects"
				>
					{iconUrl && (
						<img src={iconUrl} alt={`${id} logo`} class="max-h-[18px]" width={18} height={18} />
					)}
					<div>{id}</div>
				</a>
			))
	}
</div>
