---

---

<button
	class:list={[
		"px-4 py-2 text-primary hover:text-secondary active:scale-95 flex justify-center items-center transition-colors font-medium bg-gray-500/50 rounded-xs relative overflow-clip z-10",
		"hover:before:translate-x-full hover:after:-translate-x-full",
		"[&::before,&::after]:absolute [&::before,&::after]:top-0 [&::before,&::after]:w-full [&::before,&::after]:h-full [&::before,&::after]:transition-transform",
		"before:z-[-1] before:-left-full before:bg-primary",
		"after:z-[-2] after:-left-full after:bg-white",
	]}
>
	<slot />
	<slot name="icon" />
</button>