---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<nav class="w-full px-16 py-10 text-white flex">
	Hello World
	<div class="flex justify-evenly items-center">
		<h3>About Me</h3>
		<h3>Blog</h3>
		<h3>Projects</h3>
		<h3>Contact</h3>
	</div>
</nav>

