---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a
	class:list={[
		"group md:min-w-24 py-2 px-4 grid place-items-center text-primary text-xl font-body font-medium tracking-wide focus-within:text-secondary hover:text-secondary rounded-xs overflow-hidden relative transition-colors",
	]}
	href={href}
>
	<span
		aria-hidden="true"
		class:list={[
			"group-hover:transform-[scaleX(1)] group-hover:origin-left",
			"group-focus-visible:transform-[scaleX(1)] in-focus-visible:origin-left",
			"absolute top-0 left-0 w-full h-full bg-primary z-[-1] transform-[scaleX(0)] origin-right transition-transform pointer-events-none",
		]}></span>
	<slot />
</a>
