input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;

	&::-webkit-slider-runnable-track {
		@apply h-1.5 bg-slate-700 rounded-full;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		@apply -mt-1.5 w-4 h-4 bg-white ring-2 ring-slate-700 ring-offset-2 ring-offset-gray-500 rounded-full;
	}

	&::-moz-range-track {
		@apply h-2 bg-slate-600 rounded-full;
	}

	&::-moz-range-thumb {
		@apply bg-primary border-none rounded-full;
	}
}
